
.nav {
    width: 100%;
    padding: 25px 73px;

    @media (max-width: 878px) {
      padding: 20px;
    }

    @media (max-width: 600px) {
      padding: 20px 18px;
    }

    .nav-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap row;

        .nav-btn {
            padding: 12px 18px;
            border-radius: 6px;
            font-size: 15px;
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            background: #efebeb;
            color: #222;
            margin: 10px auto;
            cursor: pointer;
            transition: 0.3s ease;
            text-decoration: none;
            }

            .nav-btn:hover {
            background: #d0d0d0;
            }

            /* ACTIVE PAGE COLOR */ 
            .nav-btn.active {
            background: #033507;    /* active color  */
            color: white;
            font-weight: 600;
            }

           
    }
}