
.nav {
    width: 100%;
    padding: 25px 73px;

    @media (max-width: 878px) {
      padding: 20px;
    }

    @media (max-width: 600px) {
      padding: 20px 18px;
    }

    .nav-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap row;


        button {
            display: flex;
            margin: 10px;
            width: 100%;
            align-items: center;
            list-style: none;
            padding: 10px 20px;
            background: rgb(170, 170, 192);
            text-decoration: none;
            color: #000;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: .550 ease-in;

            .dash-i {
                font-size: 1rem;
                margin-right: 8px;
                transition: .500s ease-in-out;
            }

            &:hover .dash-i {
                margin-right: 3px;
            }

            &:hover {
                background: #e0d7d7;
                scale: 0.98;
            }
        }
    }
}