form {
        width: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        gap: clamp(0.7rem, 1.5vw, 1rem);
        text-align: left;

        input {
            font-weight: 600;
            padding: clamp(0.5rem, 1.2vw, 0.75rem);
            border-radius: 6px;
            border: 1px solid #ddd;
            font-size: clamp(0.8rem, 1vw, 1rem);
            outline: none;
            transition: 0.2s ease;

            &:focus {
                border-color: #033507;
                box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.15);
            }
        }

        button {
            background: #033507;
            color: #fff;
            border: none;
            padding: clamp(0.6rem, 1.2vw, 0.8rem);
            font-size: clamp(0.85rem, 1.2vw, 1rem);
            border-radius: 6px;
            cursor: pointer;
            font-weight: 500;
            transition: 0.25s ease;
            margin-top: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;

            &:hover {
            background: #022205;
            transform: translateY(-1px);
            }
        }
    }